.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 1fr 1fr;
}

.header {
    grid-column: span 3;
}

.stockers {
    display: flex;
    flex-direction: column;


    border: 1px solid #D3D3D3;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 0 20px 0 0;
    background: white;
    border-radius: 10px; 

    grid-column: 1/2;
    margin-right: 20px;
}

.stocks {
    grid-column: span 3;
}