@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('sidebar.css');
@import url('container.css');
@import url('table.css');
@import url('input.css');
@import url('button.css');

* {
    font-family: 'Roboto', 'Inter';
    margin: 0;
}

body {
    
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    padding: 20px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1010;
    animation: scaleUp 1s;
}

.header {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: #333;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
