.input {
    font-size: 1.1rem;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.input:hover {
    border-color: #0056b3; /* darker blue for focus */
    box-shadow: 0 0 8px rgba(0, 86, 179, 0.25);
}

.input:hover {
    border-color: #007bff; /* lighter blue when hovered */
}

.input[type="number"]{
    width: 7vw;
}